/*  ------------- reset e variáveis ------------  */

* {
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: aliceblue;
    font-family: 'Poppins';
}

:root {
    --corheader: rgb(3, 4, 59);
    --corfundo1: rgb(125, 159, 206);
    --corfundo2: rgba(102, 102, 150);
    --corbotaop: rgb(0, 0, 140);
    --cordarkbotao: rgb(141, 141, 156);
    --cordark1: rgb(117, 117, 117);
    --cordark2: rgb(18, 18, 19);
    --cordarkheader: rgb(26,32,38);
}